<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ankita/IdeaProjects/ATB9xAdvanceSeleniumFramework">
        <classes>
            <!--<class name="com.mukherjeeankita.tests.orangeHRTestcase.TestOrangeHR_POM">
            </class>-->
            <class name="com.mukherjeeankita.tests.KatalonCuraTestcase.TestKatalonCura_POM">
            </class>
        </classes>
    </test>
</suite>
